/* COMMON CSS */
#root{
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
}
h3{
  padding: 0 1rem;
}
/* Utility CSS */
.clear-margin{margin: 0;}

/* TAB COMPONENT CSS */
.tabs{
  margin: 1rem;
  border: 1px solid grey;
  width: 500px;
}
.tabs::after{
  content: "";
  clear: both;
  display: table;
}
ul.tab-items-wrap{
  list-style: none;
  padding: 0;
  float: left;
  margin: 0;
}
.tab-content-wrap{
  float: left;
  margin: 0 0 0 1rem;
  padding: 0 0.5rem;
}
li.tab-item {
  min-width: 70px;
  min-height: 50px;
  cursor: pointer;
  padding: 0 0.5rem 0.5rem;
  border: 1px solid grey;
  border-bottom: 0;
  border-left: 0;
  text-align: center;
}
li.tab-item.active-tab {
  border-right: 0;
  border-left: 3px solid #387ab4;
}
li.tab-item > a {
  margin: 1rem 0 0.5rem;
  display: inline-block;
}
ul > li.tab-item:last-of-type{
  border-bottom: 0;
}
ul > li.tab-item:first-of-type{
  border-top: 0;
}